@import 'utils/variables';
@import 'components/type';

.volkhov-regular {
    font-family: "Volkhov", serif;
    font-weight: 400;
    font-style: normal;
}

.volkhov-bold {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
}

:root{
    --color-bg: #FFF4C8;
    --color-text: #000;
    --color-primary: #005866;
    --color-secondary: #FFB038;
    --color-thirdly: #C6E6F8;
    --color-h3: rgba(0, 0, 0, 0.5);
}

html {
    scroll-behavior: smooth;
}

#contexte, #donnees, #etapes, #enquete, #defis, #bilan{
    padding-top: 90px;
}

.body__cs {
    font-family: "Volkhov", serif;
    background-color: var(--color-bg);
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: clamp(1rem, 0.247vw + 0.954rem, 1.25rem);
}

.h1__cs {
    font-size: clamp(1.875rem, 3.086vw + 1.296rem, 5rem);
    position: absolute;
    z-index: 20;
    color: var(--color-bg);
    background-color: var(--color-primary);
    left: 0;
    padding: 12px;
    padding-left: 40px;
    border-radius: 0 20px 20px 0;
    font-weight: 700;
    top: 15px;
}

.banniere__cs {
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
    top: 50px;
    left: 0;
}

.banniereimg__cs {
    width: 100%;
    margin: 0;
}

.menu__cs {
    position: fixed;
    z-index: 30;
    background-color: var(--color-primary);
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
}

.menu_liste__cs {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    list-style: none;
    padding: 25px 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform .3s ease-out;
    /* 100% de sa taille à lui donc ici 100% du viewport */
    /* translate, rotate, scale, skew */
    align-items: center;
}

.menu_btn__cs {
    background-color: rgba(0, 88, 102, 0.6);
    font-size: clamp(1rem, 0.247vw + 0.954rem, 1.25rem);
    padding: 0;
    border: none;
    cursor: pointer;
    font-family: "Volkhov", serif;
    font-weight: 400;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    color: var(--color-bg);
    margin: 5px 0 20px;
}

.menu--open .menu_liste__cs {
    transform: translateX(0);
}

.menu_liste__cs a {
    color: var(--color-bg);
    text-decoration: none;
    padding: 10px;
    transition: all .3s ease-out;
    cursor: pointer;
}

.menu_liste__cs a:hover, .menu_liste__cs a.active {
    color: var(--color-secondary);
    padding: 10px;
}

.menu_li__cs {
    margin: 27px;
}

.rotatable {
    color: #FFF4C8;
    font-size: clamp(1rem, 0.247vw + 0.954rem, 1.25rem);
    padding: 10px;
    transition: all .3s ease-out;
    cursor: pointer;
}

.rotatable:hover {
    color: var(--color-secondary);
    padding: 10px;
}

.rotate {
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: transform 0.3s ease;
    margin: 0;
    width: auto;
}

.sous_menu__cs {
    position: fixed;
    z-index: 30;
    background-color: var(--color-primary);
    width: 100%;
    top: 0;
    left: 0;
}

.sous_menu_liste__cs {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    list-style: none;
    padding: 25px 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(-110%);
    transition: transform .3s ease-out;
    /* 100% de sa taille à lui donc ici 100% du viewport */
    /* translate, rotate, scale, skew */
    align-items: center;
}

.sous_menu--open .sous_menu_liste__cs{
    transform: translateY(0);
}

.sous_menu_liste__cs a, .retour{
    color: var(--color-bg);
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.sous_menu_li__cs{
    color: var(--color-bg);
    margin: 27px;
}

.retour {
    font-size: clamp(0.938rem, 0.926vw + 0.764rem, 1.875rem);
    color: var(--color-text);
    background-color: var(--color-secondary);
    padding: 10px;
    border-radius: 5px;
    transition: all .3s ease-out;
    cursor: pointer;
}

.retour:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
    padding: 10px;
    border-radius: 5px;
}

.scroll__cs {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-bg);
    cursor: pointer;
}

.scroll__cs p {
    margin: 10px 0 0;
    padding: 0;
}

.jump {
    animation: jump 2s infinite;
}

@keyframes jump {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px); 
    }
    60% {
        transform: translateY(-5px);
    }
}

img {
    width: 80%;
    margin: 0px 10% 30px;
}

.h2__cs {
    font-size: clamp(2.813rem, 0.617vw + 2.697rem, 3.438rem);
    margin: 0px 27px 32px;
}

.h3__cs {
    font-size: clamp(1.875rem, 0.617vw + 1.759rem, 2.5rem);
    margin: 0px 27px 26px;
}

p {
    margin: 0 27px 30px;
}

span {
    display: block;
    margin: 12px 0;
    margin-bottom: 27px;
    width: 100%;
}

/* Footer */
.footer-container__cs {
    background-color: var(--color-primary);
    clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%);
    margin: 0;
    padding: 20px;
    height: auto;
}

.section--footer {
    padding-top: 20px;
}

.btt {
    background-color: var(--color-secondary);
    color: var(--color-text);
    display: block;
    justify-self: end;
    cursor: pointer;
    transition: all .3s;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    transform: rotate(-90deg);
    padding: 1px 5px 0 5px;
    border-radius: 100%;
    border: none;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 23px;
}

.btt:hover, .retourPortfolio:hover, .nextCS:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
}

.retourPage {
    padding: 0 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
    gap: 23px;
}

.retourPortfolio, .nextCS {
    background-color: var(--color-secondary);
    color: var(--color-text);
    padding: 12px;
    border: none;
    border-radius: 5px;
    transition: all .3s;
    font-family: "Volkhov", serif;
    cursor: pointer;
}

.heaj{
    display: block;
    border-radius: 0;
    width: 50px;
    height: max-content;
    padding: 0;
    margin: 20px 0 0;
    justify-self: end;
    align-self: flex-end;
    cursor: pointer;
    transition: all .3s;
}

.heaj:hover {
    filter: brightness(0)
}

.heaj img {
    width: 100%;
}

footer p {
    color: var(--color-bg);
}

/* Défilement images */
.defile{
    height: 150px;
    width: auto;
    border-radius: 0;
    margin: 0 2px 42px;
    padding: 0;
}

.imgdefile{
    display: flex;
    align-items: center;
    overflow: hidden; 
    position: relative;
    z-index: 1;
}

.imgdefile__inner{
    display: flex; 
    animation: imgdefile 25s linear infinite;
    gap: 5px;
}

@keyframes imgdefile { 
    0% {
        transform: translateX( -50%); 
    }
    100% {
        transform: translateX(0%); 
    }
}

ul, ol {
    padding: 28px;
}

.img90 {
    transform: rotateZ(180deg);
}
  

@media (min-width: 1004px){
    .retourPage {
        flex-direction: row;
    }

    .h1__cs {
        padding: 23px;
        padding-left: 80px;
        top: 160px;
    }

    .menu__cs {
        height: 100px;
        display: flex;
        align-items: center;
    }

    .menu_liste__cs {
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translateY(0); 
        position: static; 
        height: 100%;  
        padding: 0; 
        background-color: transparent;
        justify-content: space-around;

    } 

    .menu_btn__cs { 
        display: none;
    } 

    .menu_li__cs { 
        flex-direction: row; 
    }

    .menu__cs a {
        font-size: clamp(0.938rem, 0.926vw + 0.764rem, 1.875rem);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .rotatable {
        font-size: clamp(0.938rem, 0.926vw + 0.764rem, 1.875rem);
    }

    .rotate.rotated {
        transform: rotate(90deg);
    }

    .sous_menu_liste__cs {
        top: 100px;
    }

    .banniere__cs {
        top: 0;
        padding-top: 100px;
    }

    .scroll__cs {
        bottom: 10%;
        transform: translateX(-50%);
    }

    img {
        width: 60%;
        margin: 0px 20% 30px;
    }

    .graphiques {
        flex-direction: row;
        width: 100%;
    }

    .graphiques_bg {
        width: 100%;
    }

    .heaj{
        width: 100px;
    }

    .h2__cs, .h3__cs {
        margin: 50px 60px 30px;
    }

    p {
        margin: 0 60px 30px;
    }
}


@media (min-width: 1250px) and (max-width: 1920px){
    .h1__cs{
        padding: 23px;
        padding-left: 80px;
        top: 160px;
    }

    .h2__cs{
        margin-left: 120px;
    }

    ul {
        padding: 0 60px;
    }

    ol {
        padding: 0 12px;
    }

    .menu__cs {
        height: 100px;
        display: flex;
        align-items: center;
    }

    .menu_liste__cs {
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translateY(0); 
        position: static; 
        height: 100%; 
        padding: 0; 
        background-color: transparent;
        justify-content: space-around;
    } 

    .menu_btn__cs { 
        display: none;
    } 

    .menu_li__cs { 
        flex-direction: row; 
    }

    .menu__cs a {
        font-size: 28px;
    }

    .rotatable {
        font-size: 28px;
    }

    .rotate.rotated {
        transform: rotate(90deg);
    }

    .sous_menu_liste__cs {
        top: 100px;
    }

    .banniere__cs {
        top: 0;
        padding-top: 100px;
        margin-bottom: 0;
    }

    .scroll__cs {
        bottom: 18%;
        transform: translateX(-50%);
    }

    img {
        width: 450px;
        display: block;
        margin: 10px 0 27px;
    }

    span {
        display: block;
        width: auto;
        max-width: 600px;
        margin: 10px 0;
        margin-bottom: 27px;
    }

    .miseEnPageCaseData--grid, .miseEnPage__donnees--grid, .miseEnPageEtapes--grid, .miseEnPageDev--grid, .miseEnPageDefis--grid, .miseEnPageBilan--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .miseEnPageCaseData--grid div {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-left: 120px;
        justify-self: end;
        margin: 0;
        margin-right: 12px;
        display: flex;
        flex-direction: column;
        align-content: end;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .miseEnPageCaseData--grid img {
        width: 70%;
        justify-self: end;
    }

    .miseEnPageCaseData--grid p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: center;
        max-width: 700px;
        margin-right: 120px;
        margin: 0;
        margin-left: 12px;
    }

    .miseEnPageCaseData--grid h2 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: end;
        margin: 0 12px 30px 0;
    }

    .heaj {
        width: 100px;
    }

    .miseEnPage__donnees--grid h2 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        justify-self: center;
        margin: 50px 0 30px 0;
    }

    .miseEnPage__donnees--grid img {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-left: 12px;
        justify-self: start;
    }

    .miseEnPage__donnees--grid p {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 0;
        margin-right: 12px;
        justify-self: end;
    }

    .miseEnPageEtapes--grid img {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-left: 12px;
        justify-self: start;
    }

    .miseEnPageEtapes--grid h3 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-left: 26%;
        justify-self: start;
    }

    .miseEnPageEtapes--grid p {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-self: start;
        margin-left: 26%;
    }

    .miseEnPageDev--grid img {
        grid-column: 2 / 3;
        grid-row: 2 / 5;
        width: 80%;
        margin: 0;
        margin-left: 12px;
    }

    .miseEnPageDev--grid ul, .miseEnPageDefis--grid ol {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        max-width: 600px;
    }

    .miseEnPageDev--grid .p1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-bottom: 0;
    }

    .miseEnPageDev--grid .p2 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .miseEnPageDefis--grid h3 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-right: 12px;
        justify-self: end;
    }

    .miseEnPageDefis--grid p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: start;
        margin: 0;
        margin-left: 12px;
    }

    .miseEnPageDefis--grid ol {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .miseEnPageBilan--grid h2 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: end;
        margin: 0;
        margin-right: 12px;
    }

    .miseEnPageBilan--grid p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: start;
        margin-bottom: 120px;
    }
}